.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown
# if a windows user, Thumbs.db instead:
.DS_Store
# if using Netlify:
public/
# serve site locally:
action.R
content/blog/.DS_Store
content/.DS_Store
layouts/.DS_Store