<div id="topbar" class="is-hidden-print">
	<div class="wrapper">
		<header>
			<div class="is-navbar-container">
				<nav>
				<div class="is-brand">
					<a href="/">t  r  a  n  g </a>
					<a href="#"
						 class="is-push-right-mobile is-shown-mobile icon-kube-menu"
						 data-kube="toggle"
						 data-target="#navbar-main"></a>
				</div>
				</nav>
				<div id="navbar-main" class="is-navbar is-hidden-mobile is-center-mobile">
					<nav>
						<ul>
						  <li><a href="/vitae">vitae</a></li>
							<li><a href="/blog">blog</a></li>
						<!--	<li><a href="/projects">Projects</a></li>  -->
							<li><a href="#connect">say hello</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</div>
</div>
